/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
margin: 0;
padding: 0;
overflow: auto;
font-family: sans-serif;

}

.custom-map-control-button {
appearance: button;
background-color: #fff;
border: 0;
border-radius: 2px;
box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
cursor: pointer;
margin: 10px;
padding: 0 0.5em;
height: 40px;
font: 400 18px Roboto, Arial, sans-serif;
overflow: hidden;
}
.custom-map-control-button:hover {
background: #ebebeb;
}

iframe {
    height: 50%;
    width: 45%;
    display: block;
    border: none;
    margin: 0px; 
    padding: 0px; 
    overflow: hidden;
    float: left;

}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;
  }

/* Navigation links */
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  

th, td {    
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

.journeyData 
{
  width: 40%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.attrInfo
{
  float: left;
  width: auto;
  padding-left: 0.5%;
  padding-right: 0.5%;
}